# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/

# NetBeans
nbproject/private/
build/
dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.swp
